<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">List of Bars</h1>
    <p class="lead">This is the list of all the bars in the system</p>
  </div>
</div>

<div class="container">

  <p-table [value]="bars" [style]="{'overflow': 'hidden'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone</th>
            <th>Hours</th>
          </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
      <tr>
        <td>
          <a routerLink="/bars/{{bar.name}}">{{ bar.name }}</a></td>
        <td>{{ bar.address}}</td>
        <td>{{ bar.city }}</td>
        <td>{{ bar.phone }}</td>
        <td> {{ bar.hours }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<br><br>
